.course {
    display: flex;
    justify-content: space-between;

    width: 1024px;
    margin: 0 auto;
}

.course__description {
    width: 300px;
    height: 600px;
    padding: 15px;

    background-color: @bg-color;
    border: 1px solid @border-color;
    border-radius: 5px;
}

.course__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 600px;
}

.course__item {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 280px;
    height: 280px;
    margin-bottom: 40px;
    padding: 20px;

    background-color: @bg-color;
    border: 1px solid @border-color;
}

.course__list-title {
    .zero();
}

.course__list-count {
    .zero();
}